* {
    box-sizing: border-box;
  }
  input::placeholder{
    color: grey;
  }
  body {
    background: #333;
    color: white;
    font-family: sans-serif;
  }
  form {
    width: 500px;
    margin: auto;
    background: #555;
    padding: 20px;
    margin-top: 20px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  label, input,select {
    width: 100%;
    display: block;
    font-size: 1.2em;
  }
  input, select {
    padding: 5px;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    width: 30%;
    margin: auto;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover{
    background: grey;
  }

  .signin-container{
    width: 500px;
    margin: auto;
    background: #555;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .signin-container a{
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    margin: 10px;
  }

  .signin-container a:hover{
    background-color: grey;
  }
  